@import './mixins/underline'
@import './partials/sidebar'
@import './partials/dashboard'
@import './partials/overview'
@import './partials/case'
@import './partials/settings'
@import './partials/appointment'

.type-header-inpute
    input
        width: 100%
        border-top: 0
        border-left: 0
        border-right: 0
        padding: .5rem
        background: #f1f1f1
        border-bottom: .9px solid
        margin-bottom: 2rem
        &:focus
            outline: none
