 /* @import 'antd/dist/antd.css'; */
 @import '~antd/dist/antd.css';


tr:last-child td {
  padding-bottom: 0;
}
.ant-statistic-content {
  font-size: 20px;
  line-height: 28px;
}
.content {
  display: flex;
}
@media (max-width: 576px) {
  .content {
    display: block;
  }
}