.modalHeader
    text-transform: 'capitalize'
    border-bottom: 1px solid rgba(0, 0, 0, 0.15)
.timing
    font-size: 18px
    font-weight: bold
.meetingUrl
    display: flex
    flex-direction: row
    justify-content: space-between
    font-size: 18px
    border-bottom: 1px solid rgba(0, 0, 0, 0.15)
    padding-bottom: 2px
.caseType
    display: flex
    flex-direction: row
    justify-content: space-between
    font-size: 18px
    border-bottom: 1px solid rgba(0, 0, 0, 0.15)
    padding-bottom: 2px
    span
        text-align: center
.lastUpdate
    display: flex
    flex-direction: row
    justify-content: space-between
    font-size: 18px
    border-bottom: 1px solid rgba(0, 0, 0, 0.15)
    padding-bottom: 2px
    span
        text-align: right
        padding-left: 6rem
