.case-section
    .address
        display: flex
        justify-content: space-between
        align-items: center
        p
            margin-bottom: 0

        img
            width: 13px

        a
            margin-left: 1.1rem
            font-size: 11px
    .case-timeline
        margin-top: 2rem!important
        .border
            border: 1px solid #ccc
            height: 250px
        .party

            img
                width: 16px
                margin-left: 8px

            .name
                font-size: 12px
                color: #000
            .parties
                text-align: center
                font-size: 12px
    .update-section
        .border
            border: 1px solid #ccc
            .update-card

                font-size: 13px
                color: #000
                .text-end
                    text-align: end
                    .b-left
                        border-left: 1px solid #000
                        margin-left: 4px
                        margin-right: 4px
                .pb-2
                    padding-bottom: 10px

.contracts
    .card-border
        border: 1px solid #ccc
        margin-top: 2rem
        font-size: 12px
        img
            width: 8px
        .documentText
            padding-bottom: 6px

    .secure-contract
        .document-container
            border: 1px solid #ccc
            font-size: 12px

        .card-border
            height: 40rem !important
    .mt-4
        margin-top: 2rem
    .image-plus
        img
            width: 30px
            margin-left: 4px
            cursor: pointer
.upload-doc
    background: #fff
    color: #000
    border-radius: 0
.step-content
    width: 100%
.all-case
    .case-sec
        .flex
            display: flex
            justify-content: space-between
            img
                width: 18px
                height: 18px
                margin-right: 8px
                cursor: pointer
            h5
                font-size: 14px
            h4
                font-size: 20px

        .flex-end
            text-align: end
            input[type="text"]
                width: 98%
                border: 1px solid #ccc
                background: #fff
                height: 32px
            .dropdown-organize
                margin-right: 16px
    .border-crd
        border: 1px solid #ccc
.next-btn
    position: absolute
    bottom: 25px
    right: 14%
.prev-btn
    position: absolute
    bottom: 25px
    right: 25px
.flexDiv
    display: flex
    justify-content: space-between
    align-items: center
    .searchInput
        border: 1px solid #ccc
        background: #ffffff
        input[type="text"]
            background: #fff
            border-bottom: 0
            height: 32px
.review
    .ant-btn
        width: 140px
        border-radius: 0

// .btn-pword
//     border: 0
// #UpdatePassword_password
//     border: 0
.update-pwd
    input[type="password"]
        border: 0!important
    .ant-input-password.ant-input-affix-wrapper
        background: #f4f4f4
    .btn-flex
        display: flex
        justify-content: flex-end
        width: 68%
        margin-bottom: 1rem
#UpdateDetails
    .ant-input:placeholder-shown
        border: 1px solid #ccc
.update-card
    .pb-2
        padding-bottom: .5rem
.bg-grey
    background: #F6F7F8
.flex-end
    justify-content: flex-end!important
