.dropdown-organize
    border: 1px solid #ccc
    padding: 12px
    width: 100%
    color: #000
    margin-bottom: 12px
    .anticon.anticon-down
        margin-left: 22px
.address
    margin-top: 12px
    label
        color: #8C8A8A
        font-size: 13px
.imgplus
    width: 40px
    margin-left: 8px
.delete
    text-align: end
.case-row
    width: 96%!important
.review
    color: #3D4255
    .d-flex
        display: flex
        justify-content: space-between
        align-items: center
        margin-bottom: 12px
        .review-btn
            background: #ff0000
            max-width: 140px
            border: 0
            border-radius: 0
            color: #000
        .sent-btn
            background: #03FF22
            max-width: 140px
            border: 0
            border-radius: 0
            color: #000
        .complete-btn
            background: #1F40E6
            max-width: 140px
            border: 0
            border-radius: 0
            color: #fff

    p
        margin-bottom: 2px
.view
    font-size: 13px
.council, .mailadd
    font-size: 13px
.add-case
    display: flex
    justify-content: space-between
    align-items: center
    column-gap: 20px
    width: 46%
    margin-top: 2rem
.pdf-image
    margin-top: 2rem
    img
        max-width: 130px
