.sidebar
    .menu-ul
        li
            &:last-child
                height: 147px !important
                margin-top: 5rem
.user-dropdown
    span
        padding-left: 10px
.notification-dropdown
    span
        padding-left: 10px
        font-weight: bold
        font-size: 1rem
.logged-container
    background: #F4F4F4
    width: 238px
    .logged-in
        margin-top: 1rem
        p
            color: #8C8A8A
        p
            &:nth-child(2)
                span
                    padding: .5rem
                    font-size: .8rem
            &:nth-child(3)
                span
                    padding: .5rem
                    font-size: .8rem
.invite-container
    background: #F4F4F4
    width: 330px
    .invitation
        padding-top: 1rem
        p
            font-size: .8rem
        .invitation-list
            display: flex
            justify-content: space-between
        .accept-btn
            background-color: #1F40E6
            border-radius: 0
            height: 1rem
            font-size: .6rem
            color: #fff
        .cancel-btn
            background-color: red
            border-radius: 0
            height: 1rem
            font-size: .6rem
            color: #fff
.logout-btn
    background-color: #1F40E6
    color: #fff
    border-radius: 0
    font-size: .8rem
    margin-top: .8rem
    margin-bottom: .8rem
    margin-left: .8rem
    width: 100px
.upload
     .upload-btn
        background-color: #1F40E6
        color: #fff
        border-radius: 0
        width: 200px
.upload-btn2
    background-color: #1F40E6
    color: #fff
    border-radius: 0
    width: 200px
    &:disabled
        background-color: #1F40E6
        color: #fff
.dropdown-organize
    border: 1px solid #ccc
    padding: 12px
    width: 100%
    color: #000
    margin-bottom: 12px
    .anticon.anticon-down
        margin-left: 22px
.address
    margin-top: 12px
    label
        color: #8C8A8A
        font-size: 13px
.imgplus
    width: 40px
    margin-left: 8px
.delete
    text-align: end
.case-row
    width: 96%!important
.review
    color: #3D4255
    .d-flex
        display: flex
        justify-content: space-between
        align-items: center
        margin-bottom: 12px
        .review-btn
            background: #ff0000
            max-width: 140px
            border: 0
            border-radius: 0
            color: #000
        .sent-btn
            background: #03FF22
            max-width: 140px
            border: 0
            border-radius: 0
            color: #000
        .complete-btn
            background: #1F40E6
            max-width: 140px
            border: 0
            border-radius: 0
            color: #fff

    p
        margin-bottom: 2px
.view
    font-size: 13px
.council, .mailadd
    font-size: 13px
.add-case
    display: flex
    justify-content: space-between
    align-items: center
    column-gap: 20px
    width: 46%
    margin-top: 2rem
    padding-bottom: 2rem
.pdf-image
    margin-top: 2rem
    img
        max-width: 130px
