.ant-menu
    .ant-menu-item
            img
                height: 20px !important
                margin-right: 15px 

.dashboard-layout 
    .dashboard-layout-header
        background: #ffffff
        justify-content: 'space-between'
.iconContainer
    text-align: end
    .bel,
    .avatar
        margin-right: 20px
        height: 20px
    